<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3>Cursos</h3>
        <button class="btn btn-primary" [routerLink]="['/new-course']" routerLinkActive="router-link-active" >Novo Curso</button>
    </div>
    <div class="card-body">

        <table class="table table-hover" *ngIf="courses$ | async as courses; else loadingError">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses">
                    <th>{{ course.id }}</th>
                    <td>{{ course.nome }}</td>
                    <td>
                        <span class="float-right">
                            <button class="btn btn-outline-dark mb-1 btn-sm">Editar</button>
                            &nbsp;
                            <button class="btn btn-outline-danger mb-1 btn-sm">Excluir</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #loadingError>

            <div *ngIf="error$ | async; else loading" class="alert alert-danger" role="alert">
                <h4 class="alert-heading">ERROR!</h4>
                <p>Sua aplicação não está se comunicando com o servidor por algum motivo.</p>
                <hr>
                <p class="mb-0">Tente novamente mais tarde.</p>
            </div>

            <ng-template #loading>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Carregando Cursos...
                    </div>
                </div>

            </ng-template>

            

        </ng-template>

    </div>
</div>